<div class="animated fadeIn">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="card bg-primary text-white" [routerLink]="['/hosts/add'] ">
            <div class="card-body  text-center">
              <div class="text-center">
                <a [routerLink]="['/hosts/add'] ">
                  <i class="fa fa-plus fa-2x text-white"></i>
                  <br />
                </a>
              </div>
              Add new
              <!-- <small class="text-muted">Source : http://192.168.1.1/</small> -->
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3" *ngFor="let host of hosts">
          <div class="card">
            <div class="card-body">
              <span class="float-right">
                <a (click)="deleteHost(host)">
                  <i class="fa fa-trash text-danger"></i>
                </a>
              </span>
              <div class="text-primary h5">
                <a [routerLink]="['/hosts/edit/',host.id] "> {{host.host_name}} </a>
              </div>
              <div>
                <i class="fa fa-check text-success" aria-hidden="true"></i> Enabled</div>
              <!-- <small class="text-muted">Source : http://192.168.1.1/</small> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!--/.card-->

</div>