<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>{{page_title}}</strong>
          <span class=" float-right">
            <a (click)="deleteCert(cert)" *ngIf="!is_new">
              <i class="fa fa-trash text-danger"></i>
            </a>
          </span>
        </div>

        <div class="card-body">
          <form action="" method="post" *ngIf="cert" (ngSubmit)="onSubmit(certform)" #certform="ngForm">

            <!--  Name start -->
            <div class="form-group">
              <label for="name">Certificate Name</label>
              <input [disabled]="isDisabled() || !is_new" #name="ngModel" required type="text" id="cert_name" name="cert_name" [(ngModel)]="cert.cert_name"
                placeholder="Cerificate name" [ngClass]="{'is-invalid': name.errors && certform.submitted && !isValidFormSubmitted}"
                class="form-control" pattern="^[a-zA-Z0-9.-]+$">

              <span class="help-block text-danger" *ngIf="name.errors?.required && certform.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Certificate name is required.
              </span>

              <span class="help-block text-danger" *ngIf="!name.errors?.required && name.errors?.pattern && certform.submitted && !isValidFormSubmitted"
                [ngClass]="'text-danger'">
                You can use only Alphanumeric, `.` and `-`
              </span>

            </div>
            <!--  Name end -->

            <!-- type select start -->

            <!-- <div class="form-group ">
              <label for="is_upload">Inline Radios</label>
              <div>
                <div class="form-check form-check-inline mr-1" id="is_upload">
                  <input class="form-check-input" id="is_upload" name="is_upload" [(ngModel)]="is_upload" type="radio" [value]="true">
                  <label class="form-check-label" for="is_upload">Upload</label>
                </div>
                <div class="form-check form-check-inline mr-1">
                  <input class="form-check-input" id="is_upload" name="is_upload" [(ngModel)]="is_upload" type="radio" [value]="false">
                  <label class="form-check-label" for="is_upload">Raw Text</label>
                </div>
              </div>
            </div> -->
            <div class="row">
              <!-- type select end -->
              <div class="col-sm-6 col-md-6">
                <div class="card">
                  <div class="card-header"> Certificate Bundle </div>
                  <div class="card-body">
                    <!--  Bundle start -->
                    <div class="form-group">
                      <label for="bundle_file">Upload</label>

                      <input [disabled]="isDisabled()" id="bundle_file" class="form-control" (change)="readBundle(certform)" accept=".pem,.cer,.crt,.cert"
                        name="bundle_file" type="file" #bundle_file="ngModel" [(ngModel)]="t_bundle_file" [ngClass]="{'is-invalid': bundle_file.errors}">

                      <span class="help-block text-danger" *ngIf="bundle_file.errors?.error" [ngClass]="'text-danger'">
                        {{bundle_file.errors?.error}}
                      </span>

                    </div>
                    <!--  Bundle end -->
                    <div class="text-center h5 text-capitalize"> OR </div>
                    <!--  bundle text start -->
                    <div class="form-group">
                      <label for="bundle_text">Text</label>
                      <textarea class="form-control" [disabled]="isDisabled()" #bundle_text="ngModel" required id="bundle_text" name="bundle_text" [(ngModel)]="cert.bundle_text">
                          </textarea>
                    </div>
                    <!--  bundle text end -->
                    <span class="help-block text-danger" *ngIf="bundle_text.errors?.required && certform.submitted && !isValidFormSubmitted"
                      [ngClass]="'text-danger'">
                      Bundle Certificate is required.
                    </span>

                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-md-6">
                <div class="card">
                  <div class="card-header"> Private Key </div>
                  <div class="card-body">
                    <!--  Key start -->
                    <div class="form-group">
                      <label for="key_file">Upload</label>
                      <input [disabled]="isDisabled()" id="key_file" #key_file="ngModel" [(ngModel)]="t_key_file" class="form-control" (change)="readKey(certform)"
                        accept=".key" name="key_file" type="file" [ngClass]="{'is-invalid': key_file.errors}">

                      <span class="help-block text-danger" *ngIf="key_file.errors?.error" [ngClass]="'text-danger'">
                        {{key_file.errors?.error}}
                      </span>

                    </div>
                    <!--  Key end -->
                    <div class="text-center h5 text-capitalize"> OR </div>
                    <!--  Key start -->
                    <div class="form-group">
                      <label for="key_text">Text</label>
                      <textarea class="form-control" [disabled]="isDisabled()" #key_text="ngModel" required id="key_text" name="key_text" [(ngModel)]="cert.key_text">
                   </textarea>
                    </div>
                    <!--  Key end -->
                    <span class="help-block text-danger" *ngIf="key_text.errors?.required && certform.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                      Private key is required.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer">
              <button [disabled]="isDisabled()" type="submit" class="btn btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="button" (click)="toggle_edit()" class="btn btn-danger" *ngIf="!is_new">
                <i class="fa fa-ban"></i> Edit</button>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>