<div class="animated fadeIn">

  <div class="row">
    <div [ngClass]="{'col-sm-4': !is_new,'col-sm-12': is_new }">
      <div class="card">
        <div class="card-header">
          <strong>{{page_title}}</strong>
        </div>
        <div class="card-body">
          <form action="" method="post" *ngIf="host" (ngSubmit)="onSubmit(hostForm)" #hostForm="ngForm">

            <!-- Hostname start -->
            <div class="form-group">
              <label for="host_name">Hostname</label>
              <input [disabled]="isDisabled()" type="text" pattern="^[a-zA-Z0-9][a-zA-Z0-9-]{1,61}[a-zA-Z0-9](?:\.[a-zA-Z]{2,})+$" id="hostname"
                required #host_name="ngModel" name="host_name" [(ngModel)]="host.host_name" placeholder="Enter valid hostname eg: example.com"
                class="form-control form-control-danger" [ngClass]="{'is-invalid': host_name.errors && hostForm.submitted && !isValidFormSubmitted}">

              <span class="help-block text-danger" *ngIf="host_name.errors?.required && hostForm.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Hostname required.
              </span>
              <span class="help-block text-danger" *ngIf="host_name.errors?.pattern && hostForm.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Enter a valid hostname
              </span>
            </div>
            <!-- Hostname end -->

            <!-- Root path start -->
            <div class="form-group">
              <label for="rootpath">Root path</label>
              <input [disabled]="isDisabled()" required type="text" id="rootpath" name="root_path" #root_path="ngModel" [(ngModel)]="host.root_path"
                placeholder="Enter path eg : '/'" class="form-control" [ngClass]="{'is-invalid': root_path.errors && hostForm.submitted && !isValidFormSubmitted}">

              <span class="help-block " *ngIf="root_path.errors?.required && hostForm.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Root path is required.
              </span>
            </div>
            <!-- Root path end -->

            <!-- SSL Provider start -->
            <div class="form-group ">
              <label class=" col-form-label" for="custom_ssl">SSL Provider</label>
              <select [disabled]="isDisabled()" id="ssl_provider" [(ngModel)]="host.custom_ssl" name="custom_ssl" class="form-control">
                <option value="false">Let's Encrypt</option>
                <option value="true" disabled>Custom</option>
              </select>
            </div>
            <!-- SSL Provider end -->

            <!-- Let's Encrypt TLS config start -->
            <div class="form-group " *ngIf="host.custom_ssl == 'false'">
              <label class=" col-form-label" for="staging">Let's Encrypt TLS config</label>
              <select [disabled]="isDisabled()" [required]="host.custom_ssl == 'false'" id="staging" name="staging" [(ngModel)]="host.staging"
                class="form-control">
                <option value="true">Staging</option>
                <option value="false">Production</option>
              </select>
            </div>
            <!-- Let's Encrypt TLS config end -->

            <!-- Custom Certificate start -->
            <div class="form-group" *ngIf="host.custom_ssl =='true'">
              <label for="custom_cert">Custom Certificate</label>
              <select [disabled]="isDisabled()" id="custom_cert" name="custom_cert" [(ngModel)]="host.custom_cert" [required]="host.custom_ssl =='true'"
                class="form-control">
              </select>

              <!-- <textarea [disabled]="isDisabled()" id="custom_cert" rows="9" name="custom_cert" class="form-control" [required]="host.custom_ssl =='true'"></textarea> -->
              <span class="help-block">Paste Custom Certificate in pem format</span>
              <span class="help-block " *ngIf="ccert.errors?.required && hostForm.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Certificate is required
              </span>
            </div>
            <!-- Custom Certificate end -->

            <!-- Basic Auth start -->
            <div class="form-group">
              <div class="form-check form-check-inline mr-1">
                <input [disabled]="isDisabled()" class="form-check-input" [(ngModel)]="host.basic_auth" type="checkbox" name="basic_auth"
                  id="inline-basic_auth" value="true">
                <label class="form-check-label" for="basic_auth">Basic Auth</label>
              </div>
            </div>
            <!-- Basic Auth end -->

            <!-- Basic Auth Username start -->
            <div class="form-group">
              <label for="basic_username">Username</label>
              <input [disabled]="isDisabled() || !host.basic_auth" type="text" id="basic_username" name="basic_username" [(ngModel)]="host.basic_username"
                placeholder="Username" class="form-control" #basic_username="ngModel" [required]="host.basic_auth == true"
                [ngClass]="{'is-invalid': basic_username.errors && hostForm.submitted && !isValidFormSubmitted}">
              <span class="help-block " *ngIf="basic_username.errors?.required && hostForm.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Username is required
              </span>
            </div>

            <!-- Basic Auth Username end -->

            <!-- Basic Auth password start -->
            <div class="form-group">
              <label for="basic_password">Password</label>
              <input [disabled]="isDisabled() || !host.basic_auth" type="password" id="basic_password" name="basic_password" [(ngModel)]="host.basic_password"
                #basic_password="ngModel" [required]="host.basic_auth == true" placeholder="Password" class="form-control"
                [ngClass]="{'is-invalid': basic_password.errors && hostForm.submitted && !isValidFormSubmitted}">

              <span class="help-block " *ngIf="basic_password.errors?.required && hostForm.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Password is required
              </span>
            </div>
            <!-- Basic Auth password end -->

            <!-- Force https start -->
            <div class="form-group">
              <div class="form-check form-check-inline mr-1">
                <input [disabled]="isDisabled()" class="form-check-input" [(ngModel)]="host.force_redirect_https" type="checkbox" name="force_redirect_https"
                  id="force_redirect_https" value="true">
                <label class="form-check-label" for="force_redirect_https">Force HTTPS</label>
              </div>
            </div>
            <!-- Force https end -->
            <!-- Edit and save buttons start -->
            <div class="card-footer">
              <button [disabled]="isDisabled()" type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="button" (click)="toggle_edit()" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Edit</button>
            </div>
            <!-- Edit and save buttons end -->
          </form>
        </div>

      </div>
    </div>
    <div class="col-sm-8" *ngIf="!is_new && host">
      <div class="card">
        <div class="card-header">
          <strong>Poxy List</strong>
        </div>
        <div class="card-body">
          <div class="row">
            <ng-container *ngIf="host">
              <div class="col-sm-6 col-lg-6" *ngFor="let proxy of host.proxy_set">
                <div class="card">
                  <div class="card-header">
                    <a [routerLink]="['/proxy/edit/',proxy.id,{host :host.id}] "> {{proxy.name}} </a>
                    <span class="float-right">
                      {{(proxy.transparent? 'T': '')}} {{(proxy.insecure_skip_verify? 'I': '')}} {{(proxy.websocket? 'W': '')}}
                      <a (click)="deleteProxy(proxy)">
                        <i class="fa fa-trash text-danger"></i>
                      </a>
                    </span>
                  </div>
                  <div class="card-body">
                    <!-- <div>
                      <i class="fa fa-check text-success" aria-hidden="true"></i> Enabled
                    </div> -->
                    <div>Proxy from : {{proxy.proxy_from}} </div>
                    <div>Proxy to : {{proxy.proxy_to}}</div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="col-sm-6 col-lg-6">
              <div class="card bg-primary text-white">
                <div class="card-body  text-center">
                  <div class="text-center">
                    <a [routerLink]="['/proxy/add',{ host : host.id}] ">
                      <i class="fa fa-plus fa-2x text-white"></i>
                      <br />
                    </a>
                  </div>
                  Add new
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.card-->
    </div>
  </div>
</div>