<div class="animated fadeIn">

  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>{{page_title}}</strong>
        </div>

        <div class="card-body">
          <form action="" method="post" *ngIf="config" (ngSubmit)="onSubmit(configform)" #configform="ngForm">

            <div class="form-group">
              <label for="name">Listening Interace</label>
              <input [disabled]="isDisabled()" type="text" required id="interface" #interface="ngModel" name="interface" [(ngModel)]="config.interface"
                placeholder="Listening Interface" class="form-control" [ngClass]="{'is-invalid': interface.errors && configform.submitted && !isValidFormSubmitted}">

              <span class="help-block text-danger" *ngIf="interface.errors?.required && configform.submitted && !isValidFormSubmitted"
                [ngClass]="'text-danger'">
                Listening Interace is required. Set to 0.0.0.0 to listen on all interfaces
              </span>

            </div>

            <div class="form-group">
              <label for="port">Listen Port</label>
              <input [disabled]="isDisabled()" type="text" #port="ngModel" id="port" name="port" required [(ngModel)]="config.port" placeholder="Listen Port"
                class="form-control" [ngClass]="{'is-invalid': port.errors && configform.submitted && !isValidFormSubmitted}">
              <span class="help-block text-danger" *ngIf="port.errors?.required && configform.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Port is required. Default 8080
              </span>

            </div>

            <div class="form-group">
              <label for="proxy_exception">Proxy exception</label>
              <input disabled type="text" #proxy_exception="ngModel" required id="proxy_exception" name="proxy_exception" [(ngModel)]="config.proxy_exception"
                placeholder="Proxy exception" class="form-control" [ngClass]="{'is-invalid': proxy_exception.errors && configform.submitted && !isValidFormSubmitted}">

              <span class="help-block text-danger" *ngIf="proxy_exception.errors?.required && configform.submitted && !isValidFormSubmitted"
                [ngClass]="'text-danger'">
                Proxy exception. Default /assets
              </span>
            </div>

            <div class="form-group">
              <label for="root_dir">Root dir</label>
              <input disabled type="text" #root_dir="ngModel" id="root_dir" required name="root_dir" [(ngModel)]="config.root_dir" placeholder="Root dir"
                class="form-control" [ngClass]="{'is-invalid': root_dir.errors && configform.submitted && !isValidFormSubmitted}">

              <span class="help-block text-danger" *ngIf="root_dir.errors?.required && configform.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Root directory is required. Default /apps/TygerCaddy/TygerCaddy
              </span>
            </div>

            <!-- SSL Provider start -->
            <div class="form-group ">
              <label class=" col-form-label" for="ssl_staging">SSL Environment</label>
              <select [disabled]="isDisabled()" id="ssl_staging" [(ngModel)]="config.ssl_staging" name="ssl_staging" class="form-control">
                <option value="false">Production</option>
                <option value="true">Stagging</option>
              </select>
            </div>
            <!-- SSL Provider end -->


            <div class="card-footer">
              <button [disabled]="isDisabled()" type="submit" class="btn btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="button" (click)="toggle_edit()" class="btn btn-danger" *ngIf="!is_new">
                <i class="fa fa-ban"></i> Edit</button>
            </div>
          </form>
        </div>

      </div>
    </div>

  </div>
</div>