<div class="animated fadeIn">

  <div class="row">
    <div [ngClass]="{'col-sm-6': !is_new,'col-sm-12': is_new }">
      <div class="card">
        <div class="card-header">
          <strong>{{page_title}}</strong>
          <span class=" float-right">
            <a (click)="deleteProxy(proxy)">
              <i class="fa fa-trash text-danger"></i>
            </a>
            &nbsp;
            <button type="button" class="btn-sm btn-primary" (click)="isCollapsed = !isCollapsed"> {{ ( isCollapsed? 'Advanced'
              :'Basic' )}}
            </button>
          </span>
        </div>

        <div class="card-body">
          <form action="" method="post" *ngIf="proxy" (ngSubmit)="onSubmit(proxyform)" #proxyform="ngForm">

            <!--  Proxy Name start -->
            <div class="form-group">
              <label for="name">Proxy Name</label>
              <input [disabled]="isDisabled()" #name="ngModel" required type="text" id="name" name="name" [(ngModel)]="proxy.name" placeholder="Proxy name"
                [ngClass]="{'is-invalid': name.errors && proxyform.submitted && !isValidFormSubmitted}" class="form-control">

              <span class="help-block text-danger" *ngIf="name.errors?.required && proxyform.submitted && !isValidFormSubmitted" [ngClass]="'text-danger'">
                Proxy name required.
              </span>

            </div>
            <!--  Proxy Name end -->

            <!--  Proxy from -->
            <div class="form-group">
              <label for="proxy_from">Proxy from</label>
              <input [disabled]="isDisabled()" type="text" required id="proxy_from" #proxy_from="ngModel" name="proxy_from" [ngClass]="{'is-invalid': proxy_from.errors && proxyform.submitted && !isValidFormSubmitted}"
                [(ngModel)]="proxy.proxy_from" placeholder="Proxy from" class="form-control">

              <span class="help-block text-danger" *ngIf="proxy_from.errors?.required && proxyform.submitted && !isValidFormSubmitted"
                [ngClass]="'text-danger'">
                Proxy from required.
              </span>
            </div>

            <div class="form-group">
              <label for="proxy_to">Proxy to</label>
              <input [disabled]="isDisabled()" type="text" id="proxy_to" name="proxy_to" [(ngModel)]="proxy.proxy_to" placeholder="" class="form-control">

            </div>

            <div class="form-group">
              <div class="form-check form-check-inline mr-1">
                <input [disabled]="isDisabled()" class="form-check-input" [(ngModel)]="proxy.insecure_skip_verify" type="checkbox" name="insecure_skip_verify"
                  id="inline-checkbox1" value="false">
                <label class="form-check-label" for="insecure_skip_verify">Ignore SSL Certificate</label>
              </div>
            </div>

            <div class="form-group">
              <div class="form-check form-check-inline mr-1">
                <input [disabled]="isDisabled()" class="form-check-input" [(ngModel)]="proxy.websocket" type="checkbox" name="websocket"
                  id="inline-checkbox1" value="false">
                <label class="form-check-label" for="websocket">Websocket Proxy</label>
              </div>
            </div>

            <div class="form-group">
              <div class="form-check form-check-inline mr-1">
                <input [disabled]="isDisabled()" class="form-check-input" [(ngModel)]="proxy.transparent" type="checkbox" name="transparent"
                  id="inline-checkbox1" value="false">
                <label class="form-check-label" for="transparent">Enable Transparent Proxy</label>
              </div>
            </div>


            <div class="form-group">
              <label for="single_host">host</label>
              <select [disabled]="isDisabled()" class="form-control" id="host" name="host" [(ngModel)]="proxy.host">
                <option *ngFor="let single_host of hosts" [value]="single_host.id">{{single_host.host_name}}</option>
              </select>

            </div>



            <div (collapsed)="collapsed($event)" (expanded)="expanded($event)" [collapse]="isCollapsed">



              <div class="form-group">
                <label for="load_policy">Load policy</label>
                <input [disabled]="isDisabled()" type="text" id="load_policy" name="load_policy" [(ngModel)]="proxy.load_policy" placeholder=""
                  class="form-control">

              </div>

              <div class="form-group">
                <label for="fail_timeout">Fail timeout</label>
                <input [disabled]="isDisabled()" type="text" id="fail_timeout" name="fail_timeout" [(ngModel)]="proxy.fail_timeout" placeholder=""
                  class="form-control">

              </div>

              <div class="form-group">
                <label for="max_fails">Max fails</label>
                <input [disabled]="isDisabled()" type="text" id="max_fails" name="max_fails" [(ngModel)]="proxy.max_fails" placeholder=""
                  class="form-control">

              </div>

              <div class="form-group">
                <label for="max_conns">Max connections</label>
                <input [disabled]="isDisabled()" type="text" id="max_conns" name="max_conns" [(ngModel)]="proxy.max_conns" placeholder=""
                  class="form-control">

              </div>

              <div class="form-group">
                <label for="try_duration">try_duration</label>
                <input [disabled]="isDisabled()" type="text" id="try_duration" name="try_duration" [(ngModel)]="proxy.try_duration" placeholder=""
                  class="form-control">

              </div>

              <div class="form-group">
                <label for="try_interval">try_interval</label>
                <input [disabled]="isDisabled()" type="text" id="try_interval" name="try_interval" [(ngModel)]="proxy.try_interval" placeholder=""
                  class="form-control">

              </div>

              <div class="form-group">
                <label for="health_check">health_check</label>
                <input [disabled]="isDisabled()" type="text" id="health_check" name="health_check" [(ngModel)]="proxy.health_check" placeholder=""
                  class="form-control">

              </div>

              <div class="form-group">
                <label for="health_check_port">health_check_port</label>
                <input [disabled]="isDisabled()" type="text" id="health_check_port" name="health_check_port" [(ngModel)]="proxy.health_check_port"
                  placeholder="" class="form-control">

              </div>

              <div class="form-group">
                <label for="health_check_interval">health_check_interval</label>
                <input [disabled]="isDisabled()" type="text" id="health_check_interval" name="health_check_interval" [(ngModel)]="proxy.health_check_interval"
                  placeholder="" class="form-control">

              </div>

              <div class="form-group">
                <label for="health_check_timeout">health_check_timeout</label>
                <input [disabled]="isDisabled()" type="text" id="health_check_timeout" name="health_check_timeout" [(ngModel)]="proxy.health_check_timeout"
                  placeholder="" class="form-control">

              </div>

              <div class="form-group">
                <label for="keep_alive">keep_alive</label>
                <input [disabled]="isDisabled()" type="text" id="keep_alive" name="keep_alive" [(ngModel)]="proxy.keep_alive" placeholder=""
                  class="form-control">

              </div>

              <div class="form-group">
                <label for="timeout">timeout</label>
                <input [disabled]="isDisabled()" type="text" id="timeout" name="timeout" [(ngModel)]="proxy.timeout" placeholder="" class="form-control">

              </div>

              <div class="form-group">
                <label for="without">without</label>
                <input [disabled]="isDisabled()" type="text" id="without" name="without" [(ngModel)]="proxy.without" placeholder="" class="form-control">

              </div>

              <div class="form-group">
                <label for="exceptions">exceptions</label>
                <input [disabled]="isDisabled()" type="text" id="exceptions" name="exceptions" [(ngModel)]="proxy.exceptions" placeholder=""
                  class="form-control">

              </div>

            </div>

            <div class="card-footer">
              <button [disabled]="isDisabled()" type="submit" class="btn btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="button" (click)="toggle_edit()" class="btn btn-danger" *ngIf="!is_new">
                <i class="fa fa-ban"></i> Edit</button>

              <a *ngIf="proxy.host" [routerLink]="['/hosts/edit/',proxy.host] "> Go to host</a>


            </div>
          </form>
        </div>

      </div>
    </div>

    <div class="col-sm-6" *ngIf="!is_new && proxy.header_set">
      <div class="card">
        <div class="card-header">
          <strong>Header List </strong>
        </div>
        <div class="card-body">
          <div class="row">
            <ng-container *ngIf="proxy.header_set">

              <div class="col-sm-6 col-lg-6" *ngFor="let header of proxy.header_set">
                <div class="card">
                  <div class="card-header">
                    <a [routerLink]="['/headers/edit/',header.id,{header :header.id}] "> {{header.header}} </a>

                    <span class="float-right">
                      <i *ngIf="header.downstream" class="fa fa-arrow-circle-down text-primary"></i>
                      &nbsp;
                      <i *ngIf="header.upstream" class="fa fa-arrow-circle-up text-primary"></i>
                      &nbsp;
                      <a (click)="deleteHeader(header)">
                        <i class="fa fa-trash text-danger"></i>
                      </a>

                    </span>
                  </div>
                  <div class="card-body">
                    <!-- <div>
                      <i class="fa fa-check text-success" aria-hidden="true"></i> Enabled
                    </div> -->
                    <div>Value : {{header.value}}</div>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="col-sm-6 col-lg-6">
              <div class="card bg-primary text-white">
                <div class="card-body  text-center">
                  <div class="text-center">
                    <a [routerLink]="['/headers/add',{ proxy : proxy.id}] ">
                      <i class="fa fa-plus fa-2x text-white"></i>
                      <br />
                    </a>
                  </div>
                  Add new
                  <!-- <small class="text-muted">Source : http://192.168.1.1/</small> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/.card-->
    </div>


  </div>
</div>